<a href="/admin/get_haku_data">去哈酷抓取数据吧。。。哈哈哈。
</a>
<a href="/admin/restart">更新代码。重启服务器吧。。。哈哈哈。
</a>
<button type="button" class="btn btn-primary" data-loading-text="Loading...">Loading state</button>