body {
font: 14px/1.2 "Luxi Sans", "Lucida Grande", "Hiragino Sans GB", sans-serif;
}
.wrap {
	
}
.block {
	display: block;
}
.well {
	background-color: white;
}
#login {
	

}
.tips_error {
	color: red;
}
.get_pwd {
	margin-left: 50px;
}
#myModalLabel {
	color:gray;
}
.label-login {
	margin-left: 20px;
}
.login {
	margin-top: 20px;
}
.move {
	margin-top: 10px;
	margin-bottom: 10px;
}
.logo {
	margin-bottom: 12px;
}
.haibao {
	width: 80px;
	height: 113px;
}
.haibao_index {
	width: 85px;
}
.top {
	margin-top: 20px;
}
.recommond {
	margin-top: 0px;

-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.move_line {
	border-bottom: 1px solid #EAEAEA;
	margin-left: 10px;
	margin-top:5px;

}
.page {
	margin-top: 50px;
	padding-bottom: 5px;
}

.detail {
	background: white;
	margin-top: 20px;

}
.detail_list {
	margin-left: 20px;
	margin-top:20px;
}
.detail_word {
	margin-top:10px;
}
.desc_title {
	color:#060;
}
.desc {
	width: 300px;
	margin-top: 40px;
	padding-bottom: 40px;
}
.comment_deep {
	padding-bottom: 40px;
}
.foot {
	margin-top:20px;
	text-align: center;
	padding-bottom: 10px;
}
.actor {
	width:138px;
}
#player {
	margin-top: 0px;
}
.detail_info {
	width:164px;
}
.play_move{
	margin: 10px 10px 10px 10px;
}
.checked {
	color:#999;
}
#iframe_down{
	width:462px;
	height: 300px
}
#play_btn {
	width:500px;
}
.center {
	text-align: center;
}
.search_input {
	margin-left:35px;
}
.inline {
	display: inline;
}
.search_form {
	border-color: #ebf5f6;
	border-width:12px;
	border-style:solid;
}
.social-share-button-douban {
display: inline-block;
width: 16px;
height: 16px;
background: url("/static/images/share.png") 0px -16px no-repeat;
}

.social-share-button-weibo {
display: inline-block;
width: 16px;
height: 16px;
background: url("/static/images/share.png") -16px -48px no-repeat;
}
.social-share-button-qq {
display: inline-block;
width: 16px;
height: 16px;
background: url("/static/images/share.png") -48px 0px no-repeat;
}

.social-share-button-qq-weibo {
display: inline-block;
width: 16px;
height: 16px;
background: url("/static/images/share.png") -48px -32px no-repeat;
}
.user_info {
	margin-left:30px;
}
.score_nums {
	color: #FF5138;
	font-size: 18pt;
} 
.plus {
	margin-left: 20px;
}
.sub {
	float: right;
	margin-right: 20px;
}
#user_info {
	margin-left: 20px;
}
.node {
display: inline-block;
padding: 2px 12px;
margin: 3px;
color: white;
background-color: rgba(0, 0, 0, 0.2);
border-radius: 3px;
}
